# Local dev
# EXPO_PUBLIC_API_URL=http://api.zegbot.local
# EXPO_PUBLIC_WEB_URL=http://zegbot.local

# Production (wachatpilot.com subdomains)
EXPO_PUBLIC_API_URL=http://api.zegbot.wachatpilot.com
EXPO_PUBLIC_WEB_URL=http://zegbot.wachatpilot.com

